<%
let task = dashboard.getWidget('pm-gov-ru-task');
let summary = dashboard.getWidget('pm-gov-ru-summary');
let toggleParams = {};
%>
<link href="registry/app-vendor/highcharts/css/highcharts.css" rel="stylesheet">
<script src="registry/app-static/js/highcharts.js"></script>

<link href="dashboard/vendor/gridster-js/jquery.gridster.min.css" rel="stylesheet">
<link href="dashboard/pm-gov-ru/layouts/gridster/gridster.css" rel="stylesheet">
<link href="dashboard/pm-gov-ru/widgets/task/styles.css" rel="stylesheet">

<script src="dashboard/vendor/gridster-js/jquery.gridster.min.js"></script>
<script src="dashboard/vendor/gridster-js/jquery.gridster.with-extras.min.js"></script>
<script src="dashboard/js/gridster-helper.js"></script>
<script src="dashboard/pm-gov-ru/widgets/scripts.js"></script>

<script>
  window.ajaxQueue = $.when();
</script>

<div id="gridster" class="gridster dashboard-tasks"
     data-app="<%= app %>"
     data-layout="<%= layout %>">
  <ul>
    <li data-sizey="1" data-sizex="1" data-col="1" data-row="1">
      <%- partial(task.view, {
        widget: task,
        params: {
          id: 'valueIndicator',
          title: 'Ввод значений показателей',
        },
        redirect: 'registry/pm-gov-ru@indicatorValue.edit',
        url: 'registry/api/indicatorValueBasic@pm-gov-ru',
        urlData: {
          node: 'pm-gov-ru@indicatorValue.edit',
          filter: [{
            "property": "indicatorBasic.ownerValue.person.user",
            "operation": 0,
            "value": [
              "$$uid"
            ],
            "nestedConditions": []
          },
            {
              "property": "state",
              "operation": 0,
              "value": [
                "edit"
              ],
              "nestedConditions": []
            }]
        }
      })%>
    </li>

    <li data-sizey="1" data-sizex="1" data-col="1" data-row="2">
      <%- partial(task.view, {
        widget: task,
        params: {
          id: 'verifyIndicator',
          title: 'Значения показателей на утверждении',
        },
        redirect: 'registry/pm-gov-ru@indicatorValue.verify',
        url: 'registry/api/indicatorValueBasic@pm-gov-ru',
        urlData: {
          node: 'pm-gov-ru@indicatorValue.verify',
          filter: [{
            "property": "indicatorBasic.headValue.person.user",
            "operation": 0,
            "value": [
              "$$uid"
            ],
            "nestedConditions": []
          },
            {
              "property": "state",
              "operation": 0,
              "value": [
                "onapp"
              ],
              "nestedConditions": []
            }]
        }
      })%>
    </li>

    <li data-sizey="1" data-sizex="1" data-col="1" data-row="2">
      <%- partial(task.view, {
        widget: task,
        params: {
          id: 'confirmIndicator',
          title: 'Значения показателей на согласовании',
        },
        redirect: 'registry/pm-gov-ru@indicatorValue.confirm',
        url: 'registry/api/indicatorValueBasic@pm-gov-ru',
        urlData: {
          node: 'pm-gov-ru@indicatorValue.confirm',
          filter: [{
            "property": "state",
            "operation": 0,
            "value": [
              "app"
            ],
            "nestedConditions": []
          },
          {
            "property": "confirm",
            "operation": 0,
            "value": [
              "true"
            ],
            "nestedConditions": []
          },
          {
            "property": "indicatorBasic.confirm.organization.id",
            "operation": 0,
            "value": [
              "$organization"
            ],
            "nestedConditions": []
          }]
        }
      })%>
    </li>
  </ul>

  <div class="dashboard-widget-tool hidden">
    <button type="button" class="btn btn-default widget-toggle mr10"
            data-params="<%= JSON.stringify(toggleParams) %>">
      Виджеты
      <span class="caret"></span>
    </button>
  </div>
</div>

<script>
  (function () {
    var $tools = $('.dashboard-layout-tool');
    var $layouts = $tools.find('.dashboard-select-layout');
    $layouts.change(function () {
      Cookies.set('dashboard-layout', $layouts.val(), {
        expires: 30,
        path: ''
      });
      location.reload();
    });
    $('.dashboard-tools').append($tools);
  })();
</script>

<script>
  $(function () {
    var $gridster = $('#gridster');
    var $widgetToggle = $gridster.children('.dashboard-widget-tool').children();
    $('.dashboard-tools').prepend($widgetToggle);
    var helper = new GridsterHelper($gridster, {
      widget_base_dimensions: ['auto', 195],
      autogenerate_stylesheet: true,
      min_cols: 1,
      max_cols: 3,
      widget_margins: [20, 20],
      resize: {
        enabled: true
      }
    }, $widgetToggle);
  });
</script>