<!-- pm-gov-ru\templates\registry\attrs\briefcase\typeProj -->
<%
let basic = item.property('projects');
let url = item.getItemId() ? `${module}/api/${item.getClassName()}/${item.getItemId()}/${basic.getName()}` : '';
%>
<div class="form-group <%= cssFromTags(field) %>">
  <div class="col-sm-12">
    <div class="attr-content">
      <div class="attr-content-title">
        <%= field.caption %>
      </div>
      <div id="<%- id %>" class="form-attr-project-chart"
           data-url="<%= url %>"></div>
    </div>
  </div>
</div>

<% stylesheet(`${module}/app-static/css/styles.css`) -%>
<% stylesheet(`${module}/app-vendor/highcharts/css/highcharts.css`) -%>
<% script(`${module}/app-static/js/common.js`) -%>
<% script(`${module}/app-static/js/highcharts.js`) -%>

<script>
  $(document.body).on('highcharts:ready', function () {
    $(document.getElementById('<%- id %>')).each(function () {
      var $container = $(this);
      cooperativeAjax('post', $container.data('url'), {
        start: 0,
        length: 100,
        eagerLoading: ["vidProject.name"]
      }, function (data) {
        var colors = [1, 2, 3, 4, 5, 6];
        var items = data.data || [];
        var now = moment();
        var types = {};
        for (var i = 0; i < items.length; ++i) {
          var item = items[i];
          if (item.vidProject && item.datePlannedEnd && moment(item.datePlannedEnd).diff(now, 'days') < 0) {
            if (types.hasOwnProperty(item.vidProject)) {
              types[item.vidProject].y += 1;
            } else {
              types[item.vidProject] = {
                name: item.typeProject_str || item.vidProject,
                y: 1
              };
            }
          }
        }
        var values = [];
        for (var key in types) {
          if (types.hasOwnProperty(key)) {
            values.push(types[key]);
          }
        }
        Highcharts.chart($container.get(0), {
          credits: false,
          chart: {
            spacing: [8,0,0,0],
            type: 'column'
          },
          title: false,
          xAxis: {
            type: 'category',
            labels: {
              rotation: -35,
              style: {
                fontSize: '14px',
                fontFamily: 'Verdana, sans-serif'
              }
            }
          },
          yAxis: {
            min: 0,
            maxPadding: 0,
            allowDecimals: false,
            tickPixelInterval: 50,
            title: {
              enabled: false,
              text: ''
            }
          },
          legend: {
            enabled: false
          },
          tooltip: {
            pointFormat: '<b>{point.y}</b>',
            headerFormat: '<span style="font-size: 12px">{point.key}</span><br/>'
          },
          series: [{
            name: 'Columns',
            data: values,
            dataLabels: {
              enabled: false,
              rotation: -90,
              color: '#FFFFFF',
              align: 'right',
              format: '{point.y:.1f}', // one decimal
              y: 10, // 10 pixels down from the top
              style: {
                fontSize: '14px',
                fontFamily: 'Verdana, sans-serif'
              }
            }
          }]
        });
      });
    });
  });
</script>